/* Maple Mono NF CN 字体族定义 */

/* Thin */
@font-face {
    font-family: 'MapleMonoCN';
    src: url('/MapleMono-NF-CN-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MapleMonoCN';
    src: url('/MapleMono-NF-CN-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* ExtraLight */
@font-face {
    font-family: 'MapleMonoCN';
    src: url('/MapleMono-NF-CN-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'MapleMonoCN';
    src: url('/MapleMono-NF-CN-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'MapleMonoCN';
    src: url('/MapleMono-NF-CN-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MapleMonoCN';
    src: url('/MapleMono-NF-CN-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: 'MapleMonoCN';
    src: url('/MapleMono-NF-CN-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MapleMonoCN';
    src: url('/MapleMono-NF-CN-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: 'MapleMonoCN';
    src: url('/MapleMono-NF-CN-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MapleMonoCN';
    src: url('/MapleMono-NF-CN-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* SemiBold */
@font-face {
    font-family: 'MapleMonoCN';
    src: url('/MapleMono-NF-CN-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MapleMonoCN';
    src: url('/MapleMono-NF-CN-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'MapleMonoCN';
    src: url('/MapleMono-NF-CN-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MapleMonoCN';
    src: url('/MapleMono-NF-CN-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* ExtraBold */
@font-face {
    font-family: 'MapleMonoCN';
    src: url('/MapleMono-NF-CN-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'MapleMonoCN';
    src: url('/MapleMono-NF-CN-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}